<div *ngIf="this.user.timeslot.length > 0">
  <div *ngFor="let slot of this.user.timeslot">
    <div class="row">
      <div style="display: inline-block; margin: 10px">
        <p>{{ slot.startTime }}</p>
      </div>
      <div style="display: inline-block; margin: 10px">
        <p>{{ slot.endTime }}</p>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="addTimeSlot()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Timeslot day</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [errorStateMatcher]="matcher"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="registerForm.controls['date'].errors?.required"
          >Date is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <P>Start time</P>
    </div>

    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Hour (1-24)"
        formControlName="startTimeHour"
        type="number"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="registerForm.controls['startTimeHour'].errors?.required"
        >Start hour is required
      </mat-error>
      <mat-error *ngIf="registerForm.controls['startTimeHour'].errors?.pattern"
        >Hour has to be within 1-24
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Minute (0-59)"
        formControlName="startTimeMinute"
        type="number"
        [errorStateMatcher]="matcher"
      />
      <mat-error
        *ngIf="registerForm.controls['startTimeMinute'].errors?.required"
        >Start minute is required
      </mat-error>
      <mat-error
        *ngIf="registerForm.controls['startTimeMinute'].errors?.pattern"
        >Minute has to be within 0-59
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col">
      <P>End time</P>
    </div>

    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Hour (1-24)"
        formControlName="endTimeHour"
        type="number"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="registerForm.controls['endTimeHour'].errors?.required"
        >Start hour is required
      </mat-error>
      <mat-error *ngIf="registerForm.controls['endTimeHour'].errors?.pattern"
        >Hour has to be within 1-24
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Minute (0-59)"
        formControlName="endTimeMinute"
        type="number"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="registerForm.controls['endTimeMinute'].errors?.required"
        >Start minute is required
      </mat-error>
      <mat-error *ngIf="registerForm.controls['endTimeMinute'].errors?.pattern"
        >Minute has to be within 0-59
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <button
      mat-raised-button
      style="width: 100%"
      color="primary"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Add slot
    </button>
  </div>
</form>
<button class="col" mat-raised-button (click)="onNoClick()">Close</button>
