<div class="center">
  <form id="updateform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            [(ngModel)]="authService.user.firstName"
            matInput
            formControlName="firstName"
            type="firstName"
            [errorStateMatcher]="matcher"
            id="firstName"
          />
          <mat-error *ngIf="registerForm.controls['firstName'].errors?.required"
            >Firstname is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            [(ngModel)]="authService.user.lastName"
            matInput
            formControlName="lastName"
            type="lastName"
            [errorStateMatcher]="matcher"
            id="lastName"
          />
          <mat-error
            id="lastNameError"
            *ngIf="registerForm.controls['lastName'].errors?.required"
            >Lastname is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>streetAddress</mat-label>
          <input
            [(ngModel)]="authService.user.streetAddress"
            matInput
            placeholder="street 55"
            formControlName="streetAddress"
            type="string"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="registerForm.controls['streetAddress'].errors?.required"
            >Address is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input
            [(ngModel)]="authService.user.email"
            matInput
            placeholder="mail@outlook.com"
            formControlName="email"
            type="string"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="registerForm.controls['email'].errors?.required"
            >Mail is required
          </mat-error>
          <mat-error *ngIf="registerForm.controls['email'].errors?.pattern"
            >Invalid e-mail format
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>phoneNumber</mat-label>
          <input
            [(ngModel)]="authService.user.phoneNumber"
            matInput
            placeholder="0612345678"
            formControlName="phoneNumber"
            type="string"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="registerForm.controls['phoneNumber'].errors?.required"
            >Phonenumber is required
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['phoneNumber'].errors?.pattern"
            >Invalid phonenumber format
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Postal Code</mat-label>
          <input
            [(ngModel)]="authService.user.postalCode"
            matInput
            placeholder="5685GB"
            formControlName="postalCode"
            type="postalCode"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="registerForm.controls['postalCode'].errors?.required"
            >Postal code is required
          </mat-error>
          <mat-error *ngIf="registerForm.controls['postalCode'].errors?.pattern"
            >Invalid postal code format
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>city</mat-label>
          <input
            [(ngModel)]="authService.user.city"
            matInput
            placeholder="Amsterdam"
            formControlName="city"
            type="city"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="registerForm.controls['city'].errors?.required"
            >City is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Birthdate</mat-label>
          <input
            [(ngModel)]="authService.user.dateOfBirth"
            matInput
            [matDatepicker]="picker"
            formControlName="dateOfBirth"
            type="dateOfBirth"
            [errorStateMatcher]="matcher"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="registerForm.controls['dateOfBirth'].errors?.required"
            >Date of birth is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6" style="margin: 5px">
        <button
          mat-raised-button
          style="width: 100%"
          color="primary"
          [disabled]="!registerForm.valid"
          type="submit"
          id="submitAccountButton"
        >
          Update my account
        </button>
      </div>
      <div *ngIf="authService.admin" class="col-md-6" style="margin: 5px">
        <a mat-raised-button (click)="openDialog()">My Timeslots</a>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6" style="margin: 5px">
        <a mat-raised-button [routerLink]="'/home'"> Home </a>
      </div>
    </div>
  </form>
</div>
