<div *ngIf="locationService.location.employee.length == 0">
  Geen werknemers op deze locatie, snel voeg ze toe anders gaat de locatie
  failliet
</div>
<div class="list-group">
  <div *ngFor="let employee of locationService.location.employee">
    <div class="location">
      <mat-icon
        style="font-size: 3.2em; width: fit-content; height: fit-content"
        >person_pin</mat-icon
      >
      <div style="margin-left: 20px; margin-right: 20px; width: 100%">
        <p style="margin-bottom: 2px">
          {{ employee.firstName }} {{ employee.lastName }}
        </p>
        <p style="color: #7c7c7c">{{ employee.streetAddress }}</p>
      </div>
      <button mat-icon-button style="transform: scale(1.5)">
        <mat-icon style="color: #e74040">remove_circle_outline</mat-icon>
      </button>
    </div>

    <hr />
  </div>
</div>

<div class="form-row">
  <div class="col-md-6" style="margin: 5px">
    <button mat-raised-button (click)="openDialog()">Add employee</button>
  </div>
</div>
