<div class="center" style="padding-top: 100px;">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width: 40%;">
    <h2 class="title">Log in</h2>

    <!-- <h5 class="error-text" [hidden]="errorBool">Wachtwoord en/of gebruikersnaam klopt niet!</h5> -->
    <!-- <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar> -->

    <div mat-dialog-content>
      <mat-form-field class="custom_form" appearance="fill">
        <input matInput placeholder="Email" type="email" formControlName="email"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.controls['email'].errors?.required;" innerHTML="Mail verplicht">
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.pattern;" innerHTML="Mail ongeldig">
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-content>
      <mat-form-field class="custom_form" appearance="fill">
        <input matInput placeholder="Wachtwoord" formControlName="password" type="password" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.controls['password'].errors?.required;" innerHTML="Wachtwoord verplicht">
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].errors?.pattern;" innerHTML="Wachtwoord ongeldig">
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <button style="width: 100%;" mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
    </div>
  </form>
</div>