<header
  class="py-5 bg-image-full"
  style="background-image: url('../../../assets/pexels-cottonbro-3992859.jpg')"
></header>

<section class="py-5">
  <div class="container">
    <h1>Welcome to the hairdresser site</h1>
    <p class="lead">We will make your hair nice and the way you want it.</p>
    <p>
      Start by creating an appointment from the navigation menu on the top of
      the site. You can choose between locations, your favorite hairdresser and
      the kind of hair style you want!
    </p>
  </div>
</section>

<div
  class="py-5 bg-image-full"
  style="background-image: url('../../../assets/pexels-photo-1319460.jpeg')"
>
  <div style="height: 500px"></div>
</div>
<hr />

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Ruben van Oers</p>
  </div>
</footer>
