<div *ngIf="locationService.location !== null">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>Location name</mat-label>
          <input
            [(ngModel)]="locationService.location.name"
            matInput
            formControlName="name"
            type="text"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="updateForm.controls['name'].errors?.required"
            >Location name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>streetAddress</mat-label>
          <input
            [(ngModel)]="locationService.location.streetAddress"
            matInput
            placeholder="street 55"
            formControlName="streetAddress"
            type="text"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="updateForm.controls['streetAddress'].errors?.required"
            >Address is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input
            [(ngModel)]="locationService.location.email"
            matInput
            placeholder="mail@outlook.com"
            formControlName="email"
            type="text"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="updateForm.controls['email'].errors?.required"
            >Mail is required
          </mat-error>
          <mat-error *ngIf="updateForm.controls['email'].errors?.pattern"
            >Invalid e-mail format
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>phoneNumber</mat-label>
          <input
            [(ngModel)]="locationService.location.phoneNumber"
            matInput
            placeholder="0612345678"
            formControlName="phoneNumber"
            type="text"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="updateForm.controls['phoneNumber'].errors?.required"
            >Phonenumber is required
          </mat-error>
          <mat-error *ngIf="updateForm.controls['phoneNumber'].errors?.pattern"
            >Invalid phonenumber format
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Postal Code</mat-label>
          <input
            [(ngModel)]="locationService.location.postalCode"
            matInput
            placeholder="5685GB"
            formControlName="postalCode"
            type="text"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="updateForm.controls['postalCode'].errors?.required"
            >Postal code is required
          </mat-error>
          <mat-error *ngIf="updateForm.controls['postalCode'].errors?.pattern"
            >Invalid postal code format
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>city</mat-label>
          <input
            [(ngModel)]="locationService.location.city"
            matInput
            placeholder="Amsterdam"
            formControlName="city"
            type="text"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="updateForm.controls['city'].errors?.required"
            >City is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6" style="margin: 5px">
        <button
          mat-raised-button
          style="width: 100%"
          color="primary"
          [disabled]="!updateForm.valid"
          type="submit"
        >
          Update location
        </button>
      </div>
    </div>
  </form>
</div>
