<h4><label for="search-box">Search by city</label></h4>
<input
  style="margin-bottom: 16px"
  #searchBox
  id="search-box"
  (input)="search(searchBox.value)"
/>
<hr />

<div class="list-group">
  <div *ngFor="let location of locations$ | async">
    <div class="location">
      <mat-icon
        style="font-size: 3.2em; width: fit-content; height: fit-content"
        >location_on</mat-icon
      >
      <div style="margin-left: 20px; margin-right: 20px; width: 100%">
        <p id="locationName" style="margin-bottom: 2px">{{ location.name }}</p>
        <p style="color: #7c7c7c">{{ location.streetAddress }}</p>
      </div>
      <button
        mat-icon-button
        style="transform: scale(1.5)"
        routerLink="/location/{{ location._id }}/details"
        id="editLocation"
      >
        <mat-icon style="color: #e98a1e">edit</mat-icon>
      </button>
      <button
        mat-icon-button
        style="transform: scale(1.5)"
        (click)="deleteLocation(location)"
      >
        <mat-icon style="color: #e74040">delete</mat-icon>
      </button>
    </div>

    <hr />
  </div>
</div>

<div class="form-row">
  <div class="col-md-6" style="margin: 5px">
    <a mat-raised-button [routerLink]="'/registerLocation'">
      Create location
    </a>
  </div>
</div>
