<div *ngIf="locationService.location.employee.length == 0">
  Geen werknemers op deze locatie, snel voeg ze toe anders gaat de locatie
  failliet
</div>
<mat-list>
  <div mat-subheader>
    <h1>Employees working on this location:</h1>
  </div>
  <mat-list-item *ngFor="let employee of locationService.location.employee">
    <mat-icon mat-list-icon>person_pin</mat-icon>
    <div mat-line>
      <b>Employee name: </b> {{ employee.firstName }} {{ employee.lastName }}
    </div>
    <div mat-line><b>Streetaddress: </b>{{ employee.streetAddress }}</div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<div class="form-row">
  <div class="col-md-6" style="margin: 5px">
    <button mat-raised-button (click)="openDialog()">Add employee</button>
  </div>
</div>
