<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Avans forever!</h1>
    <span class="menu-spacer"></span>
    <div style="display: flex">
      <div *ngIf="!authService.loggedIn">
        <button mat-button [routerLink]="'/login'" class="header_button">
          login
        </button>
        <button mat-button [routerLink]="'/register'" class="header_button">
          Create Account
        </button>
      </div>
      <div *ngIf="authService.loggedIn">
        <button mat-button [routerLink]="'/login'" class="header_button">
          Logout
        </button>
        <button mat-button [routerLink]="'/account'" class="header_button">
          My Account
        </button>
      </div>
      <button mat-button [routerLink]="'/appointments'" class="header_button">
        appointments
      </button>
      <div style="display: inline" *ngIf="authService.admin">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
          class="header_button"
        >
          Admin
        </button>
        <mat-menu #menu="matMenu">
          <button [routerLink]="'/locations'" mat-menu-item>
            <span>Locations</span>
          </button>
          <button [routerLink]="'/register'" mat-menu-item>
            <span>Register employee</span>
          </button>
        </mat-menu>
      </div>
      <button mat-button [routerLink]="'/beschrijving'" class="header_button">
        App-uitleg
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
